<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
          http://www.springframework.org/schema/security
          http://www.springframework.org/schema/security/spring-security-3.1.xsd">


	<security:http pattern="/css/**" security="none" />
	<security:http pattern="/scripts/**" security="none" />
	<security:http pattern="/images/**" security="none" />
	<security:http pattern="/index.jsp" security="none" />
	<security:http pattern="/login.html" security="none" />

	<security:http auto-config="false"
		security-context-repository-ref="securityContextRepository"
		entry-point-ref="authenticationEntryPoint" use-expressions="true">

		<security:custom-filter position="FORM_LOGIN_FILTER" ref="authenticationFilter" />
		<security:intercept-url pattern="/main.html" access="isAuthenticated()" />
		
		<!-- Configures the logout process -->
		<security:logout invalidate-session="true" logout-url="/logout.html" logout-success-url="/login.html" />
		
		<security:session-management>
			<security:concurrency-control max-sessions="1" />
		</security:session-management>

		

	</security:http>

	<bean id="exceptionTranslationFilter"
		class="org.springframework.security.web.access.ExceptionTranslationFilter">
		<property name="authenticationEntryPoint" ref="authenticationEntryPoint" />
		<property name="accessDeniedHandler" ref="accessDeniedHandler" />
	</bean>

	<bean id="authenticationEntryPoint"
		class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
		<property name="loginFormUrl" value="/login.html" />
	</bean>

	<bean id="accessDeniedHandler"
		class="org.springframework.security.web.access.AccessDeniedHandlerImpl">
		<property name="errorPage" value="/login.html" />
	</bean>

	<bean id="authenticationSuccessHandler" class="com.techmahindra.aia.web.security.AuthSuccessHandler">
		<constructor-arg value="/main.html" />
	</bean>

	<bean id="authenticationFailureHandler"
		class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler">
		<constructor-arg value="/login.html" />
	</bean>

	<bean id="authenticationFilter"
		class="org.springframework.security.web.authentication.UsernamePasswordAuthenticationFilter">
		<property name="authenticationManager" ref="authenticationManager" />
		<property name="filterProcessesUrl" value="/authenticate" />
		<property name="postOnly" value="false" />
		<property name="usernameParameter" value="username" />
		<property name="passwordParameter" value="password" />
		<property name="authenticationSuccessHandler" ref="authenticationSuccessHandler" />
		<property name="authenticationFailureHandler" ref="authenticationFailureHandler" />
	</bean>

	<security:authentication-manager alias="authenticationManager">
		<security:authentication-provider
			ref="daoAuthenticationProvider">
		</security:authentication-provider>
	</security:authentication-manager>

	<bean id="securityContextRepository"
		class="org.springframework.security.web.context.HttpSessionSecurityContextRepository"></bean>

	<bean id="securityContextPersistenceFilter"
		class="org.springframework.security.web.context.SecurityContextPersistenceFilter">
		<property name='securityContextRepository'>
			<bean
				class='org.springframework.security.web.context.HttpSessionSecurityContextRepository'>
				<property name='allowSessionCreation' value='true' />
			</bean>
		</property>
	</bean>

	<bean id="daoAuthenticationProvider"
		class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
		<property name="userDetailsService" ref="userDetailService" />
		<property name="passwordEncoder" ref="passwordEncoder" />
		<property name="saltSource" ref="saltSource" />
	</bean>

	<bean id="userDetailService"
		class="com.techmahindra.aia.service.security.UserDetailServiceImpl" />

	<bean id="passwordEncoder"
		class="org.springframework.security.authentication.encoding.ShaPasswordEncoder">
		<constructor-arg value="256" />
		<property name="iterations" value="1024" />
	</bean>

	<bean id="saltSource"
		class="org.springframework.security.authentication.dao.ReflectionSaltSource">
		<property name="userPropertyToUse" value="username" />
	</bean>
</beans>